.qoute-container {
    border-radius: 15px;
    background-color: gainsboro;
    padding: 25px;
    margin: 70px auto auto auto;
    width: 60%;
    text-align: center;
    position: relative;
}

.qoute{
    margin: 5px 10px 5px 10px;
    font-style: normal;
    font-size: larger;
    font-family: SansSerif;
}

.author{
    margin: 5px 10px 5px 10px;
    font-style: italic;
    font-size: medium;
    font-family: SansSerif;
}

.butns {
    margin: auto;
    width: 300px;
    padding: 3px 0;
}

button {
    height: 45px;
    position: inherit;
    margin: 10px 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    padding: 15px;
}

body {
    background-color: lightgreen;
    animation-name: pback;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0;
    padding: 0;
}

@keyframes pback {
    from {background-color: lightgreen;}
    to {background-color: cornflowerblue;}
}